* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #2c3e50;
    color: white;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: #1abc9c;
}

.menu {
    display: none;
    cursor: pointer;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #34495e;
    color: white;
    padding: 50px 20px;
    min-height: 60vh;
}

.hero img {
    width: 250px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    color: #ecf0f1;
    max-width: 450px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #1abc9c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* ABOUT SECTION */
.about {
    display: flex;
    padding: 50px;
    gap: 30px;
    background: #ecf0f1;
}

.about h2 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.about p {
    color: #2c3e50;
    line-height: 1.7;
}

/* SKILLS, PROJECTS, CONTACT */
.skills, .projects, .contact {
    padding: 40px;
    text-align: center;
    background: #ffffff;
}

.skill-box span {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background: #ecf0f1;
    border-radius: 5px;
    color: #2c3e50;
    font-weight: 600;
}

.project-card {
    background: #ecf0f1;
    padding: 20px;
    width: 300px;
    margin: 20px auto; 
    border-radius: 8px;
    text-align: center; 
}
.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .hero, .about {
        flex-direction: column;
        text-align: center;
    }

    nav {
        display: none;
        flex-direction: column;
    }

    .menu {
        display: block;
    }

    .hero img, .about img {
        width: 220px;
        margin-top: 20px;
    }

    .skill-box span {
        width: 100%;
    }

    .project-card {
        width: 90%;
    }
}
 